<!DOCTYPE html>
<html>
<head>
  <title>Mountie</title>
  <%= stylesheet_link_tag    "mountie/application", :media => "all" %>
  <%= javascript_include_tag "mountie/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
